body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.folders {
  font-weight:500;
}
.folders > .anticon {
  font-size: 16px;
}

.trigger, .settings, .actions {
  cursor: pointer;
  transition: color 0.3s;
}
.trigger, .settings {
  font-size: 20px;
  padding: 0 24px;
  line-height: 64px;
}

.trigger:hover, .settings:hover {
  color: #1890ff;
}

.actions button {
  color: #666;
}
.actions button:hover {
  color: #000;
  background-color: rgba(172, 172, 172, 0.2);
}

.logo {
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-background {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border-radius: 5px;
  background-color: #eee;
  margin: 0 0 0 11px
}
.search-input input {
  background-color: #eee;
}